h1 {
    font-family: sans-serif;
}

body{
    background: black;
}

.mainSection{
    width: 80%;
    background: #B0E0E6;
    text-align: center;
    margin: auto;
}

.introduction{
    width: 50%;
    color: black;
    text-align: center;
    margin: auto;
}

.randomEpigram{
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
}

.addEpigram{
    color: black;
    text-align: center;
    margin: auto;
    width: 50%;
}