<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Crazy Epigram Space</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="mainSection">
    <div class="introduction" id="introduction">
        <h1 th:text="#{welcome}"></h1>
        <h2 th:text="#{intro}"></h2>
    </div>
    <div class="randomEpigram" id="randomEpigram">
        <input type="button" value="reload epigram" OnClick="location.reload();"/>
        <h2 th:text="${epigram}"></h2>
        <br>
        <h3 th:text="${author}"></h3>
    </div>

    <div class="addEpigram" id="addEpigram">
        <h2 th:text="#{addEpigram}"></h2>
        <form action="#" th:action="@{/addEpigram}" th:object="${epigramDTO}" method="post">
            <textarea type="text" rows="4" cols="50" placeholder="Epigram" name="description" required></textarea>
            <br>
            <input type="text" name="author" placeholder="Author" required>
            <input type="submit">
        </form>

    </div>
</div>
</body>
</html>